:root {
    --graytxt: rgb(54, 54, 54);
    --btnred: rgb(205, 61, 15);
    --darkgray: rgb(31, 31, 31);
    --lightgray: rgb(190, 188, 187);
    --deepblue: rgb(22, 28, 59);
    --sky: rgb(0, 67, 156); 
    --azure: rgb(6, 117, 207); 
}
body { font-family: 'Roboto', sans-serif;}
img { max-width: 100%;}
/* general */
.vz_gray { color: var(--graytxt);}
.vz_bg-darkgray {background-color: var(--darkgray);}
.vz_bg-lightgray { background-color: var(--lightgray);}
.vz_bg-deepblue { background-color: var(--deepblue);}
.vz_bg-bluesky { background-color: var(--sky);}
.vz_btn-red {
    background-color: var(--btnred);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 7px 12px;
}
.vz_btn-red:hover { outline: 3px solid var(--btnred);}
.vz_btn-primary:hover { outline: 3px solid var(--azure);}
.vz_btn-white:hover { outline: 3px solid white; opacity: 0.8;}
.vz_btn-red:hover, .vz_btn-primary:hover, .vz_btn-white:hover, .vz_outblue { outline-offset: 3px;}
.vz_outblue { outline: 3px solid var(--azure); cursor: pointer;}
.vz_opacity:hover { opacity: 0.8; cursor: pointer;}
.vz_transform:hover { transform: translate(0px, -5px);}
/* HEADER */
div.bg-black img { width: 90px;}
.vz_dropdown-toggle::after {
    content: '';
    width: 12px;
    height: 12px;
    background-image: url(../img/chevron-down-solid.svg);
    background-size: 12px 12px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 5px;
    transform: rotateY(180deg);
    transition: 0.5s;
}
.vz_dropdown-toggle:hover::after { background-image: url(../img/chevron-down-solid-hover.svg);
    transform: rotateZ(180deg);}
#hero1 div.vz_jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 60vh;
}
#hero2 div.vz_jumbo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 60vh;
}
/* MAIN */
#play5 div.vz_opacity:hover { border-bottom: 1px solid var(--azure)!important;}
/* FOOTER */
.vz_country img{ width: 25px; padding-right: 0.5rem;}
/* RESPONSIVE */
@media screen and (min-width: 768px){
    #social .vz_social-container {
        width: 70%!important;
        margin-left:15%;
    }
}