:root {
    --lightgrtxt: rgb(125, 125, 125);
    --graytxt: rgb(54, 54, 54);
    --btnred: rgb(205, 61, 15);
    --btnblue: rgb(45, 100, 230);
    --darkgray: rgb(31, 31, 31);
    --lightgray: rgb(190, 188, 187);
    --deepblue: rgb(22, 28, 59);
    --sky: rgb(0, 67, 156);  
}
body { font-family: 'Roboto', sans-serif;
}
img { max-width: 100%;}
/* general */
.vz_bg-darkgray {background-color: var(--darkgray);}
.vz_bg-lightgray { background-color: var(--lightgray);}
.vz_bg-deepblue { background-color: var(--deepblue);}
.vz_bg-bluesky { background-color: var(--sky);}
.vz_btn-red {
    background-color: var(--btnred);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 7px 12px;
}
.vz_btn-red:hover { outline: 3px solid var(--btnred); outline-offset: 3px;}
.vz_gray { color: var(--graytxt);}
/* HEADER */
div.bg-black img { width: 90px;}
#hero1 div.vz_jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 60vh;
}
#hero2 div.vz_jumbo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 60vh;
}
/* FOOTER */
.vz_country img{ width: 25px; padding-right: 0.5rem;}
/* RESPONSIVE */
@media screen and (min-width: 768px){
    #social .vz_social-container {
        width: 70%!important;
        margin-left:15%;
    }
}